{% extends "Libros/base.html" %}
{%block titulo%}Sobre mi{%endblock%}

{%block contenido%}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">¡Hola, mi nombre es Cristian!</h1>
            <p class="lead fw-normal text-white-50 mb-0">Tengo 27 años, vivo en CABA (Buenos Aires) y este es mi primer curso de programación.
                Es un camino completamente nuevo para mi pero estoy entusiasmado y con ganas de seguir aprendiendo.
                Este proyecto refleja mi fanatismo por los Mangas, Comics y Novelas. 

            </p>
        </div>
    </div>
</header>
{%endblock%}