{% extends "Libros/base.html" %}



{% block lista_libros %}




<div class="col mb-5">
    <div class="card h-100">
        <!-- Sale badge-->
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
        <!-- Product image-->
        <img class="card-img-top" src="/media/{{manga.imagen_libro}}" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{manga.titulo}}</h5>
                <!-- Product price-->
                Autor: {{manga.autor}}
                <br/>
                <strong>Precio: ${{manga.precio}}</strong>
                
               
                
                
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/construccion/">Add to cart</a></div>
        </div>
    </div>
 </div>

{% endblock %}